:root {
  --background-color: #f2db74;
  --dark-color: #16181d;
  --mid-dark-color: #20232a;
  --light-color: #fafafa;
  --color-one: #d1d1ea;
  --color-two: #ff6562;
  --radius: 6px;
  --transition: 300ms;
}
body {
  color: var(--dark-color);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
a {
  color: var(--mid-dark-color);
}
a:hover {
  color: var(--color-two) !important;
  transition-duration: var(--transition);
}
.button {
  color: var(--mid-dark-color);
  background-color: var(--background-color);
  border-radius: var(--radius);
  padding: 2px 4px;
}
.button:hover {
  color: var(--light-color);
  background-color: var(--color-two) !important;
  transition-duration: var(--transition);
}
.button:focus {
  background-color: var(--background-color);
}
