:root {
  --background-color: #f4e294;
  --dark-color: #16181d;
  --mid-dark-color: #20232a;
  --light-color: #fafafa;
  --color-one: #d1d1ea;
  --color-one-dark: #a4a4cc;
  --color-two: #ff6562;
  --color-two-dark: #df5f5d;
  --radius: 4px;
  --shadow: 2px 2px 1px rgb(0, 0, 0, 0.7);
  --transition: 250ms;
}
body {
  color: var(--dark-color);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
a {
  color: var(--mid-dark-color);
}
a:hover {
  color: var(--color-two) !important;
  transition-duration: var(--transition);
}
.button {
  color: var(--mid-dark-color);
  background-color: var(--background-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 4px 6px;
}
.button:hover {
  color: var(--light-color);
  background-color: var(--color-two) !important;
  transition-duration: var(--transition);
}
.button:focus {
  background-color: var(--background-color);
}
